报单打印系统/RPSService/WebContent/WEB-INF/wsdl/LogisticslistingServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.service.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogisticslistingServiceImplService" targetNamespace="http://impl.service.service.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.service.com/" schemaLocation="LogisticslistingServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findLlistByParams">
    <part element="tns:findLlistByParams" name="parameters"/>
  </message>
  <message name="findLlistByParamsResponse">
    <part element="tns:findLlistByParamsResponse" name="parameters"/>
  </message>
  <message name="saveLlist">
    <part element="tns:saveLlist" name="parameters"/>
  </message>
  <message name="saveLlistResponse">
    <part element="tns:saveLlistResponse" name="parameters"/>
  </message>
  <message name="saveBatch">
    <part element="tns:saveBatch" name="parameters"/>
  </message>
  <message name="saveBatchResponse">
    <part element="tns:saveBatchResponse" name="parameters"/>
  </message>
  <message name="findMaxImportnum">
    <part element="tns:findMaxImportnum" name="parameters"/>
  </message>
  <message name="findMaxImportnumResponse">
    <part element="tns:findMaxImportnumResponse" name="parameters"/>
  </message>
  <message name="updateLlistBySql">
    <part element="tns:updateLlistBySql" name="parameters"/>
  </message>
  <message name="updateLlistBySqlResponse">
    <part element="tns:updateLlistBySqlResponse" name="parameters"/>
  </message>
  <message name="findLlistByPkId">
    <part element="tns:findLlistByPkId" name="parameters"/>
  </message>
  <message name="findLlistByPkIdResponse">
    <part element="tns:findLlistByPkIdResponse" name="parameters"/>
  </message>
  <message name="deleteLlist">
    <part element="tns:deleteLlist" name="parameters"/>
  </message>
  <message name="deleteLlistResponse">
    <part element="tns:deleteLlistResponse" name="parameters"/>
  </message>
  <message name="findAllLlist">
    <part element="tns:findAllLlist" name="parameters"/>
  </message>
  <message name="findAllLlistResponse">
    <part element="tns:findAllLlistResponse" name="parameters"/>
  </message>
  <message name="updateLlist">
    <part element="tns:updateLlist" name="parameters"/>
  </message>
  <message name="updateLlistResponse">
    <part element="tns:updateLlistResponse" name="parameters"/>
  </message>
  <portType name="LogisticslistingServiceImpl">
    <operation name="findLlistByParams">
      <input message="tns:findLlistByParams"/>
      <output message="tns:findLlistByParamsResponse"/>
    </operation>
    <operation name="saveLlist">
      <input message="tns:saveLlist"/>
      <output message="tns:saveLlistResponse"/>
    </operation>
    <operation name="saveBatch">
      <input message="tns:saveBatch"/>
      <output message="tns:saveBatchResponse"/>
    </operation>
    <operation name="findMaxImportnum">
      <input message="tns:findMaxImportnum"/>
      <output message="tns:findMaxImportnumResponse"/>
    </operation>
    <operation name="updateLlistBySql">
      <input message="tns:updateLlistBySql"/>
      <output message="tns:updateLlistBySqlResponse"/>
    </operation>
    <operation name="findLlistByPkId">
      <input message="tns:findLlistByPkId"/>
      <output message="tns:findLlistByPkIdResponse"/>
    </operation>
    <operation name="deleteLlist">
      <input message="tns:deleteLlist"/>
      <output message="tns:deleteLlistResponse"/>
    </operation>
    <operation name="findAllLlist">
      <input message="tns:findAllLlist"/>
      <output message="tns:findAllLlistResponse"/>
    </operation>
    <operation name="updateLlist">
      <input message="tns:updateLlist"/>
      <output message="tns:updateLlistResponse"/>
    </operation>
  </portType>
  <binding name="LogisticslistingServiceImplPortBinding" type="tns:LogisticslistingServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findLlistByParams">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveLlist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveBatch">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findMaxImportnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateLlistBySql">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findLlistByPkId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteLlist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAllLlist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateLlist">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="LogisticslistingServiceImplService">
    <port binding="tns:LogisticslistingServiceImplPortBinding" name="LogisticslistingServiceImplPort">
      <soap:address location="http://localhost:8080/RPSService/LogisticslistingServiceImplPort"/>
    </port>
  </service>
</definitions>
