报单打印系统/RPSService/WebContent/WEB-INF/wsdl/OddnumberServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.service.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OddnumberServiceImplService" targetNamespace="http://impl.service.service.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.service.com/" schemaLocation="OddnumberServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="updateOddnum">
    <part element="tns:updateOddnum" name="parameters"/>
  </message>
  <message name="updateOddnumResponse">
    <part element="tns:updateOddnumResponse" name="parameters"/>
  </message>
  <message name="findAllOddnum">
    <part element="tns:findAllOddnum" name="parameters"/>
  </message>
  <message name="findAllOddnumResponse">
    <part element="tns:findAllOddnumResponse" name="parameters"/>
  </message>
  <message name="deleteOddnum">
    <part element="tns:deleteOddnum" name="parameters"/>
  </message>
  <message name="deleteOddnumResponse">
    <part element="tns:deleteOddnumResponse" name="parameters"/>
  </message>
  <message name="getUseOddnumber">
    <part element="tns:getUseOddnumber" name="parameters"/>
  </message>
  <message name="getUseOddnumberResponse">
    <part element="tns:getUseOddnumberResponse" name="parameters"/>
  </message>
  <message name="findOddnumByPkId">
    <part element="tns:findOddnumByPkId" name="parameters"/>
  </message>
  <message name="findOddnumByPkIdResponse">
    <part element="tns:findOddnumByPkIdResponse" name="parameters"/>
  </message>
  <message name="saveOddnum">
    <part element="tns:saveOddnum" name="parameters"/>
  </message>
  <message name="saveOddnumResponse">
    <part element="tns:saveOddnumResponse" name="parameters"/>
  </message>
  <portType name="OddnumberServiceImpl">
    <operation name="updateOddnum">
      <input message="tns:updateOddnum"/>
      <output message="tns:updateOddnumResponse"/>
    </operation>
    <operation name="findAllOddnum">
      <input message="tns:findAllOddnum"/>
      <output message="tns:findAllOddnumResponse"/>
    </operation>
    <operation name="deleteOddnum">
      <input message="tns:deleteOddnum"/>
      <output message="tns:deleteOddnumResponse"/>
    </operation>
    <operation name="getUseOddnumber">
      <input message="tns:getUseOddnumber"/>
      <output message="tns:getUseOddnumberResponse"/>
    </operation>
    <operation name="findOddnumByPkId">
      <input message="tns:findOddnumByPkId"/>
      <output message="tns:findOddnumByPkIdResponse"/>
    </operation>
    <operation name="saveOddnum">
      <input message="tns:saveOddnum"/>
      <output message="tns:saveOddnumResponse"/>
    </operation>
  </portType>
  <binding name="OddnumberServiceImplPortBinding" type="tns:OddnumberServiceImpl">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateOddnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAllOddnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteOddnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getUseOddnumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findOddnumByPkId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveOddnum">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="OddnumberServiceImplService">
    <port binding="tns:OddnumberServiceImplPortBinding" name="OddnumberServiceImplPort">
      <soap:address location="http://localhost:8080/RPSService/OddnumberServiceImplPort"/>
    </port>
  </service>
</definitions>
