报单打印系统/RPSService/WebContent/WEB-INF/wsdl/UserinfoServiceImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.service.service.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserinfoServiceImplService" targetNamespace="http://impl.service.service.com/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://impl.service.service.com/" schemaLocation="UserinfoServiceImplService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="main">
    <part element="tns:main" name="parameters"/>
  </message>
  <message name="mainResponse">
    <part element="tns:mainResponse" name="parameters"/>
  </message>
  <message name="getValue">
    <part element="tns:getValue" name="parameters"/>
  </message>
  <message name="getValueResponse">
    <part element="tns:getValueResponse" name="parameters"/>
  </message>
  <message name="updateUser">
    <part element="tns:updateUser" name="parameters"/>
  </message>
  <message name="updateUserResponse">
    <part element="tns:updateUserResponse" name="parameters"/>
  </message>
  <message name="deleteUser">
    <part element="tns:deleteUser" name="parameters"/>
  </message>
  <message name="deleteUserResponse">
    <part element="tns:deleteUserResponse" name="parameters"/>
  </message>
  <message name="saveUser">
    <part element="tns:saveUser" name="parameters"/>
  </message>
  <message name="saveUserResponse">
    <part element="tns:saveUserResponse" name="parameters"/>
  </message>
  <message name="findUserByUserId">
    <part element="tns:findUserByUserId" name="parameters"/>
  </message>
  <message name="findUserByUserIdResponse">
    <part element="tns:findUserByUserIdResponse" name="parameters"/>
  </message>
  <message name="findAllUser">
    <part element="tns:findAllUser" name="parameters"/>
  </message>
  <message name="findAllUserResponse">
    <part element="tns:findAllUserResponse" name="parameters"/>
  </message>
  <portType name="UserinfoServiceImplDelegate">
    <operation name="main">
      <input message="tns:main"/>
      <output message="tns:mainResponse"/>
    </operation>
    <operation name="getValue">
      <input message="tns:getValue"/>
      <output message="tns:getValueResponse"/>
    </operation>
    <operation name="updateUser">
      <input message="tns:updateUser"/>
      <output message="tns:updateUserResponse"/>
    </operation>
    <operation name="deleteUser">
      <input message="tns:deleteUser"/>
      <output message="tns:deleteUserResponse"/>
    </operation>
    <operation name="saveUser">
      <input message="tns:saveUser"/>
      <output message="tns:saveUserResponse"/>
    </operation>
    <operation name="findUserByUserId">
      <input message="tns:findUserByUserId"/>
      <output message="tns:findUserByUserIdResponse"/>
    </operation>
    <operation name="findAllUser">
      <input message="tns:findAllUser"/>
      <output message="tns:findAllUserResponse"/>
    </operation>
  </portType>
  <binding name="UserinfoServiceImplPortBinding" type="tns:UserinfoServiceImplDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="main">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getValue">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="saveUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findUserByUserId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="findAllUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="UserinfoServiceImplService">
    <port binding="tns:UserinfoServiceImplPortBinding" name="UserinfoServiceImplPort">
      <soap:address location="http://localhost:8080/RPSService/UserinfoServiceImplPort"/>
    </port>
  </service>
</definitions>
